.spyproject/
*.pyc
docs/build/doctrees/
.pylint.d/
pynlo.egg-info/dependency_links.txt
pynlo.egg-info/PKG-INFO
pynlo.egg-info/requires.txt
pynlo.egg-info/SOURCES.txt
pynlo.egg-info/top_level.txt
build/lib/pynlo/__init__.py
build/lib/pynlo/device.py
build/lib/pynlo/light.py
build/lib/pynlo/medium.py
build/lib/pynlo/model.py
build/lib/pynlo/utility/__init__.py
build/lib/pynlo/utility/chi1.py
build/lib/pynlo/utility/chi2.py
build/lib/pynlo/utility/chi3.py
build/lib/pynlo/utility/fft.py
build/lib/pynlo/utility/misc.py
.vscode/settings.json
